<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon >home</mat-icon>
     <span routerLink = "/home">My App</span>
    </button>
    
    <span class="example-spacer"></span>
    
    <a mat-button routerLink = "/productlist">
      <mat-icon >group_work</mat-icon>Product List</a>
    <a mat-button routerLink = "/categorylist">
      <mat-icon >format_line_spacing</mat-icon>Category List</a>
    <button mat-raised-button color="accent">
        <mat-icon>account_circle</mat-icon>
        Login
    </button>
  </mat-toolbar>

    
  

