<mat-sidenav-container>
  <mat-sidenav  mode="side" opened class="met-elevation-z4">
    <button mat-button class="menu-button ">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
      <a mat-button routerLink = "/home"></a>
    </button>
     <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <a mat-button routerLink = "/productlist">
      <mat-icon >group_work</mat-icon>
      <span>Product List</span></a>
    </button>
    <button mat-button class="menu-button">
      <a mat-button routerLink = "/categorylist">
      <mat-icon >format_line_spacing</mat-icon>
      <span>Category List</span></a>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      Main Contain
    </div>
  </mat-sidenav-content> 
</mat-sidenav-container>
  
  
